[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot
[submodule "thingymcconfig-buildroot"]
	path = thingymcconfig-buildroot
	url = https://github.com/thingyjp/thingymcconfig-buildroot.git
[submodule "thingyjp-buildroot"]
	path = thingyjp-buildroot
	url = https://github.com/thingyjp/thingyjp-buildroot.git
